@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #d6e1f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 480px;
  background: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  color: #1c293e;
}

.card h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  margin: 0px 20px;
}
.card p {
  font-family: "Outfit", sans-serif;
  color: #acb0b5;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
  margin: 0px 25px;
}

.card img {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  margin-top: 15px;
}
